<div ng-controller="calendarCtrl">
        <nav clas="navbar navbar-default"><!--Calendar navbar-->
                <div class="row" >
                        <div class="col-lg-2">
                                <span class="calendarword">Calendar</span>
                        </div>
                        <div class="col-lg-2">
                                <button class="btn btn-default" ng-click="today()">Today</button>
                                        <div class="btn-group" role="group" aria-label="...">
                                                                                      <button type="button" class="btn btn-default" ng-click="nextMonthClick()"><<</button>
                                          <button type="button" class="btn btn-default" ng-click="backWeekClick()"><</button>
                                          <button type="button" class="btn btn-default" ng-click="nextWeekClick()">></button>
                                                                                                                    <button type="button" class="btn btn-default" ng-click="backMonthClick()">>></button>
                                        </div>
                        </div>
                        <div class="col-lg-2">
                                        <p class="navbar-text navbar-left">{{dateString}}</p>
                        </div>

                        </div>
                <!--Calendar bar-->              
        </nav>
 
        <div class="content">
                <div class="left-content">
                        <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                        <div class="btn-group">
                                             <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Event</button>
                                        </div>
                                </div>
                                <div class="col-md-2"></div>
                        </div><!--End Row-->
                <div class="row">
                        <div class="col-sm-10">
                                <h5>{{miniString}}</h5>
                        </div>
                </div>
<!--MINI CALENDAR-->
                <div class="row"> <!--Calender-->
                        <div class="col-md-1 table-bordered">
                                <div class="row">
                                        <div class="col-md-1 table-bordered">S</div>   
                                        <div class="col-md-1 table-bordered {{boxColorArray[0]}}">{{monthArray[0].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[7]}}">{{monthArray[7].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[14]}}">{{monthArray[14].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[21]}}">{{monthArray[21].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[28]}}">{{monthArray[28].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[35]}}">{{monthArray[35].getDate()}}</div>
                                </div>
                        </div>
                        <div class="col-md-1 table-bordered">
                                <div class="row">
                                        <div class="col-md-1 table-bordered">M</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[1]}}">{{monthArray[1].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[8]}}">{{monthArray[8].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[15]}}">{{monthArray[15].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[22]}}">{{monthArray[22].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[29]}}">{{monthArray[29].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[36]}}">{{monthArray[36].getDate()}}</div>
                                </div>
                        </div>
                        <div class="col-md-1 table-bordered">
                                <div class="row">
                                        <div class="col-md-1 table-bordered">T</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[2]}}">{{monthArray[2].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[9]}}">{{monthArray[9].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[16]}}">{{monthArray[16].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[23]}}">{{monthArray[23].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[30]}}">{{monthArray[30].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[37]}}">{{monthArray[37].getDate()}}</div>
                                </div>
                        </div>
                        <div class="col-md-1 table-bordered">
                                <div class="row">
                                        <div class="col-md-1 table-bordered">W</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[3]}}">{{monthArray[3].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[10]}}">{{monthArray[10].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[17]}}">{{monthArray[17].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[24]}}">{{monthArray[24].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[31]}}">{{monthArray[31].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[38]}}">{{monthArray[38].getDate()}}</div>
                                </div>
                        </div>
                        <div class="col-md-1 table-bordered">
                                <div class="row">
                                        <div class="col-md-1 table-bordered">TH</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[4]}}">{{monthArray[4].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[11]}}">{{monthArray[11].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[18]}}">{{monthArray[18].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[25]}}">{{monthArray[25].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[32]}}">{{monthArray[32].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[39]}}">{{monthArray[39].getDate()}}</div>
                                </div>
                        </div>
                        <div class="col-md-1 table-bordered">
                                <div class="row">
                                        <div class="col-md-1 table-bordered">F</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[5]}}">{{monthArray[5].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[12]}}">{{monthArray[12].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[19]}}">{{monthArray[19].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[26]}}">{{monthArray[26].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[33]}}">{{monthArray[33].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[40]}}">{{monthArray[40].getDate()}}</div>
                                </div>
                        </div>
                        <div class="col-md-1 table-bordered">
                                <div class="row">
                                        <div class="col-md-1 table-bordered">S</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[6]}}">{{monthArray[6].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[13]}}">{{monthArray[13].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[20]}}">{{monthArray[20].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[27]}}">{{monthArray[27].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[34]}}">{{monthArray[34].getDate()}}</div>
                                        <div class="col-md-1 table-bordered {{boxColorArray[41]}}">{{monthArray[41].getDate()}}</div>
                                </div>
                        </div>
                </div>
 
<!--END MINI CALNDER-->

 
        </div><!--End left-content-->
 
 
                <div class="right-content">
                        <div class="row">
                                <div class="col-xs-1 table-bordered"><h6>GMT-05</h6></div>
                                <div class="col-xs-2 table-bordered">Sun {{sunDate}}</div>
                                <div class="col-xs-2 table-bordered">Mon {{monDate}}</div>
                                <div class="col-xs-2 table-bordered">Tues {{tuesDate}}</div>
                                <div class="col-xs-2 table-bordered">Wed {{wedDate}}</div>
                                <div class="col-xs-1 table-bordered">TH {{thDate}}</div>
                                <div class="col-xs-1 table-bordered">Fri {{friDate}}</div>
                                <div class="col-xs-1 table-bordered">Sat {{satDate}}</div>
                        </div>
                        <div class="row">
                                <div class="col-lg-1 table-bordered">12am-8am</div>
                            <div class="col-lg-2 table-bordered {{colorWeekBox[0]}}"><br><h7>{{weekWordsArray[0]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[1]}}"><br><h7> {{weekWordsArray[1]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[2]}}"><br><h7>{{weekWordsArray[2]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[3]}}"><br><h7>{{weekWordsArray[3]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[4]}}"><br><h7>{{weekWordsArray[4]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[5]}}"><br><h7>{{weekWordsArray[5]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[6]}}"><br><h7>{{weekWordsArray[6]}}</h7><br></div>            
                                       
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">9am<br><br></div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[7]}}"><br><h7>{{weekWordsArray[7]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[8]}}"><br><h7>{{weekWordsArray[8]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[9]}}"><br><h7>{{weekWordsArray[9]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[10]}}"><br><h7>{{weekWordsArray[10]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[11]}}"><br><h7>{{weekWordsArray[11]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[12]}}"><br><h7>{{weekWordsArray[12]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[13]}}"><br><h7>{{weekWordsArray[13]}}</h7><br></div>            
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">10am<br><br></div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[14]}}"><br><h7>{{weekWordsArray[14]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[15]}}"><br><h7>{{weekWordsArray[15]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[16]}}"><br><h7>{{weekWordsArray[16]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[17]}}"><br><h7>{{weekWordsArray[17]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[18]}}"><br><h7>{{weekWordsArray[18]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[19]}}"><br><h7>{{weekWordsArray[19]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[20]}}"><br><h7>{{weekWordsArray[20]}}</h7><br></div>                            
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">11am<br><br></div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[21]}}"><br><h7>{{weekWordsArray[21]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[22]}}"><br><h7>{{weekWordsArray[22]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[23]}}"><br><h7>{{weekWordsArray[23]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[24]}}"><br><h7>{{weekWordsArray[24]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[25]}}"><br><h7>{{weekWordsArray[25]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[26]}}"><br><h7>{{weekWordsArray[26]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[27]}}"><br><h7>{{weekWordsArray[27]}}</h7><br></div>                            
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">12pm<br><br></div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[28]}}"><br><h7>{{weekWordsArray[28]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[29]}}"><br><h7>{{weekWordsArray[29]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[30]}}"><br><h7>{{weekWordsArray[30]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[31]}}"><br><h7>{{weekWordsArray[31]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[32]}}"><br><h7>{{weekWordsArray[32]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[33]}}"><br><h7>{{weekWordsArray[33]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[34]}}"><br><h7>{{weekWordsArray[34]}}</h7><br></div>                            
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">1pm<br><br></div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[35]}}"><br><h7>{{weekWordsArray[35]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[36]}}"><br><h7>{{weekWordsArray[36]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[37]}}"><br><h7>{{weekWordsArray[37]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[38]}}"><br><h7>{{weekWordsArray[38]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[39]}}"><br><h7>{{weekWordsArray[39]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[40]}}"><br><h7>{{weekWordsArray[40]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[41]}}"><br><h7>{{weekWordsArray[41]}}</h7><br></div>                                    
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">2pm<br><br></div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[42]}}"><br><h7>{{weekWordsArray[42]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[43]}}"><br><h7>{{weekWordsArray[43]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[44]}}"><br><h7>{{weekWordsArray[44]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[45]}}"><br><h7>{{weekWordsArray[45]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[46]}}"><br><h7>{{weekWordsArray[46]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[47]}}"><br><h7>{{weekWordsArray[47]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[48]}}"><br><h7>{{weekWordsArray[48]}}</h7><br></div>                                    
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">3pm<br><br></div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[49]}}"><br><h7>{{weekWordsArray[49]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[50]}}"><br><h7>{{weekWordsArray[50]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[51]}}"><br><h7>{{weekWordsArray[51]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[52]}}"><br><h7>{{weekWordsArray[52]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[53]}}"><br><h7>{{weekWordsArray[53]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[54]}}"><br><h7>{{weekWordsArray[54]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[55]}}"><br><h7>{{weekWordsArray[55]}}</h7><br></div>                            
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">4pm<br><br></div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[56]}}"><br><h7>{{weekWordsArray[56]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[57]}}"><br><h7>{{weekWordsArray[57]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[58]}}"><br><h7>{{weekWordsArray[58]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[59]}}"><br><h7>{{weekWordsArray[59]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[60]}}"><br><h7>{{weekWordsArray[60]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[61]}}"><br><h7>{{weekWordsArray[61]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[62]}}"><br><h7>{{weekWordsArray[62]}}</h7><br></div>                                    
                        </div><!--End Row-->
                        <div class="row">
                                <div class="col-lg-1 table-bordered">5pm-12am</div>
                                <div class="col-lg-2 table-bordered {{colorWeekBox[63]}}"><br><h7>{{weekWordsArray[63]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[64]}}"><br><h7>{{weekWordsArray[64]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[65]}}"><br><h7>{{weekWordsArray[65]}}</h7><br></div>    
                                <div class="col-lg-2 table-bordered {{colorWeekBox[66]}}"><br><h7>{{weekWordsArray[66]}}</h7><br></div>    
                                <div class="col-lg-1 table-bordered {{colorWeekBox[67]}}"><br><h7>{{weekWordsArray[67]}}</h7><br></div>
                                <div class="col-lg-1 table-bordered {{colorWeekBox[68]}}"><br><h7>{{weekWordsArray[68]}}</h7><br></div>    
                                    <div class="col-lg-1 table-bordered {{colorWeekBox[69]}}"><br><h7>{{weekWordsArray[69]}}</h7><br></div>                            
                        </div><!--End Row-->
                </div><!--end right-content-->
        </div><!--End Content-->
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        <h3 class="modal-title">Create Event</h3>
      </div>
        <div class="modal-body">
        <form name="myForm">
        
            <div class="modal-body">
                
                                      <div class="row">
                    <div class="col-sm-12">
                        <h6 class="modal-title">Event name</h6>
                        <input name="eventName" type="text" ng-model='event.name' ng-minlength="1" class="event-name" required>
                              </div>
                </div>


                    <div class="row">
                            <div class="col-sm-5">
                                <h6 class="modal-title">From date</h6>
  <input type="datetime-local" id="fromDate" name="fromDate" ng-change="change()"  ng-model="event.fromDate"/>
                            </div>
                        

                        </div>
                                                              <div class="row">
                            <div class="col-sm-5">
                                <h6 class="modal-title">To date</h6>
  <input type="datetime-local" id="toDate" name="toDate" ng-change="change()" ng-model="event.toDate" />
                            </div>
                        </div>

                          <div class="row">


                        <div class="col-sm-12">
                            
                            <h6 class="modal-title">Descripton</h6>
                            <textarea rows="4" cols="50" name = "descripton" ng-model='event.description'></textarea>
                            
                        </div>

                    </div>
            </div>
        </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"
                ng-disabled="!( myForm.eventName.$valid && validDates)" class="btn btn-default" data-dismiss="modal" ng-click="sendData()"
                >Save and close</button>
          
    </div>
          <div class="alert alert-info">
  <strong>Info!</strong> Required fields are: "Event name", "From date" and "To date"
. also "From date" must to be less than "To date".</div>
      </div>
  </div>
</div>
