<div class="container">
    <div class="row">                
        <h2> {{ contact.firstName[0] }} {{ contact.lastName[0] }}</h2>
        <form name="editContact" novalidate class="form-horizontal well bs-component">
            <form-field record="contact" field="firstName" required="true"></form-field>
            <form-field record="contact" field="lastName" required="true"></form-field>
            <form-field record="contact" ng-repeat='(k,v) in contact | keyFilter: "firstName" | keyFilter: "lastName" | keyFilter: "id" | keyFilter: "_id"'  
            field="{{k}}">
            </form-field> 
             <div class= "row form-group">
                <div class="col-sm-offset-2">
                    <button class="btn btn-primary" ng-click="editContact.$valid && save()"> Save Contact </button>
                    <button class="btn btn-danger" ng-click="delete()"> Delete Contact </button>
            </div>
        </form>
    </div>
</div>