.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.no-mergin{
    margin-bottom: -13px;
}

.10-top-mergin {
    margin-top: 0px;
}

.black {
    background-color: black;
}

.dodgerblue{
  color: dodgerblue;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 15px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.clicking-mouse {
    cursor: pointer; cursor: hand;
}

.gi-trash-20x{margin-top: 7px; font-size: 20px;}

.gi-plus-17x{font-size: 17px;}

.center-gray {
    text-align: center;
    //color: cadetblue;
}

.center-softgray {
    text-align: center;
    //color: aquamarine;
}

.marign-top {
    margin-top: 28px;
}

[contenteditable]:hover:after {
     content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAiUlEQVQ4y2NgGFKgs7OTl2zNEyZMmAgEDZMmTeogWTNQUwVQcyeIDaLnz5/PQYrmssmTJ1sC6QQg7gXiFlI0l4I0Q9lOQNuLiNYMVFwCxFZQtiPQgEKSNAM1WMM0k2wzTDPQ+Q5AdjEpfs6CRRPJmqEGvAC6IAlId4NcQk58vwDih0DbMxhGDgAAx6ZVXMd4yEMAAAAASUVORK5CYII=');
    font-size: 17px;
}

.margin-15 {
    margin-top: 15px;
}

.margin-5 {
    margin-top: 5px;
}


.increse-font-14 {
     font-size: 14px !important;
}

.label-as-badge {
    border-radius: 1em;
}

.increse-font-17 {
    font-size: 17px !important;
}

.increse-font-15 {
    font-size: 15px !important;
}

.sidebar {
    background-color: #f8f8f8;
    overflow-y: auto;
}

.margin-30-bottom {
    text-align: center;
    margin-bottom: 30px !important;
}

.page-content {
    overflow-y: auto;
}

.navbar-overlap{
   padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */ 
    padding-bottom: 50px; 
}

.footer-backcolor {
    height: 50px;
    background-color: #f8f8f8;
}

.backcolor {
    background-color: #f8f8f8;
}


.navbar-brand {
  padding: 5px !important;
}

